@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=MedievalSharp&family=Open+Sans:wght@300&family=Roboto+Slab:wght@900&display=swap');

img {
  height: 100px;
  width: 150px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 180px;
  height: 180px;
  border: 1px solid #000000;
  box-shadow: 3px 3px 8px #000000;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  border-radius: 5px;
  padding: 3px;
  font-weight: 900;
  text-align: center;
}
a {
  text-decoration: none;
}
input {
  height: 30px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
button {
  color: #000000;
  font-family: 'MedievalSharp', cursive;
  font-size: 20px;
  background: linear-gradient(rgba(221, 94, 221, 0.6), rgba(221, 94, 221, 0.6));
  border-radius: 5px;
  width: 120px;
  height: 50px;
}
li:hover {
  border: 4px solid #f6b93b;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  padding: 0;
}
button:hover {
  width: 200px;
  height: 80px;
  font-size: 30px;
  background: #f6b93b;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  border: 4px solid #f6b93b;
}
ul {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://upload.wikimedia.org/wikipedia/commons/4/4a/World_map_with_four_colours.svg');
  background-position: center;
  border: none;
}
.countryName {
  margin-top: 2px;
  text-decoration: none;
}
.search {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  margin: 0;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://www.visualcapitalist.com/wp-content/uploads/2018/09/world-map-population-1200.png');
  background-size: cover;
  background-position: center;
}
.home-text {
  font-family: 'MedievalSharp', cursive;
  color: #ffffff;
  letter-spacing: 1px;
  margin: 10px 20px;
  text-align: center;
  font-size: 24px;
}
.home-big {
  font-family: 'Roboto Slab', serif;
  font-size: 80px;
  text-shadow: 2px 2px 2px #000000;
  color: #f6b93b;
  letter-spacing: 5px;
}
h2,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 80px;
}
select {
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.back-button {
  font-family: 'Open Sans', sans-serif;
  width: 250px;
}
.back-button:hover {
  width: 400px;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 420px;
  background-color: #f5f5dc;
}
.right-container {
  justify-content: center;
}
aside {
  width: 90%;
  max-width: 400px;
  margin: 5px;
  padding: 10px;
  height: auto;
}
h6 {
  margin: 2px 0;
}
h5 {
  margin: 0;
}
.header {
  background-color: #7372C5;
}
.travel-advice {
  background-color: #5EFF81;
}
.vaccinations {
  background-color: #F4F907;
}
.weather {
  background-color: #75C7D9;
  
}
h4 {
  font-weight: 700;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f5f5dc;
}
.message {
  color: #6495ed;
  margin: 30px 0;
}
.yay-message {
  color: #ffa500;
  margin: 30px 0;
}
.back-button {
  margin-bottom: 20px;
}
.container-container {
  background-color: #f5f5dc;
}
body {
  margin: 0;
}