@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Open+Sans:wght@300&family=Roboto+Slab:wght@900&display=swap');

img {
  height: 100px;
  width: 150px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 180px;
  height: 180px;
  border: 1px solid #000000;
  box-shadow: 3px 3px 8px #000000;
  text-decoration: none;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #f0ebeb;
}
input {
  height: 30px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
button {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: #ff0000;
  border-radius: 5px;
  width: 120px;
  height: 50px;
}
li:hover {
  width: 200px;
  height:180px;
  background-color: #ff0000;
}
button:hover {
  width: 150px;
  height: 80px;
  font-size: 30px;
  background-color: #0000ff;
  color: #ffffff;
  cursor: pointer;
}
ul {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4a/World_map_with_four_colours.svg');
  
}
.countryName {
  margin-top: 2px;
  text-decoration: none;
}
.search {
  display: flex;
  justify-content: center;
}